/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img

/clases/TareaLibro/nbproject/private/
/clases/TareaLibro/build/
/clases/ProyectoLibro/nbproject/private/
/clases/ProyectoLibro/build/
/clases/ConceptosBasicos/build/
